<!DOCTYPE html>
<html>
<head>
  <title>Questapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'nested_form', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #83C340;">

<%= yield %>

</body>
</html>
